<% content_for :title do %>Zabbix<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="10" data-sizey="10">
      <div data-id="trigger_groups" data-view="ZabbixTriggergroups" data-title="Triggers grouped"></div>
    </li>
  </ul>
</div>