<% content_for :title do %>Zabbix<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="numbers_disaster" data-view="ZabbixStatus" data-title="disaster" class="widget-zabbix"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
      <div data-id="numbers_high" data-view="ZabbixStatus" data-title="high" class="widget-zabbix"></div>
    </li>
    <li data-row="1" data-col="5" data-sizex="2" data-sizey="2">
      <div data-id="numbers_average" data-view="ZabbixStatus" data-title="average" class="widget-zabbix"></div>
    </li>
    <li data-row="1" data-col="7" data-sizex="2" data-sizey="2">
      <div data-id="numbers_warning" data-view="ZabbixStatus" data-title="warning" class="widget-zabbix"></div>
    </li>
    <li data-row="1" data-col="9" data-sizex="2" data-sizey="2">
      <div data-id="zabbix_info" data-view="ZabbixInfo"></div>
    </li>
  </ul>
</div>