// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
//$background-color:  #12b0c5;
//$background-color:  rgba(0,0,0, 0.3);
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);
$label-color:       rgba(255, 255, 255, 1);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

$average-color: #FF7F0F;
$warning-color: #FFB010;
$high-color: #FF4E0D;
$disaster-color: #E8290C;

// ----------------------------------------------------------------------------
// Widget-list styles
// ----------------------------------------------------------------------------

.widget.widget-zabbix-triggers {

  vertical-align: top;

 // background-color: $background-color;

  .title {
    color: $title-color;
    font-size: 18px
  }

  ul {
    // margin: 0 15px;
    // display: inline;
    text-align: left;
    color: $label-color;
    font-size:12px;
    font-weight: bold;
  }

  li {
    padding: 2px;
    margin-bottom: 5px;
  }

  li.prio-warning {
    background-color: $warning-color;
  }
  li.prio-average {
    background-color: $average-color;
  }
  li.prio-high {
    background-color: $high-color;
  }
  li.prio-disaster {
    background-color: $disaster-color;
  }

  li span { margin: 5px; display: inline-block }
  li span.host { width: 400px; float: left; }
  li span.description { width: 400px }
  li span.lastchanged { width: 100px }




  .list-nostyle {
    list-style: none;
  }

  .label {
    color: $label-color;
  }

  .value {
    float: right;
    margin-left: 12px;
    font-weight: 600;
    color: $value-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

  .more-info {
    color: $moreinfo-color;
  }

}